{
	acme_ca https://acme.zerossl.com/v2/DV90
	email info@infing.ch
}

infing.ch {
	root * /usr/share/caddy
	file_server
	try_files {path} /index.html
}

http://:80 {
	root * /usr/share/caddy
	file_server
	try_files {path} /index.html
}
