{
	auto_https disable_redirects
}

infing.ch {
	root * /usr/share/caddy
	file_server
	try_files {path} /index.html
}

http://:80 {
	root * /usr/share/caddy
	file_server
	try_files {path} /index.html
}
